body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: white;
  font-family: sans-serif;
}

#inicio {
  border: 1px solid black;
  padding: 20px;
  margin-top: 20px;
  overflow-wrap: break-word;
  border-radius: 5px;
}

h1 {
  font-size: 25px;
  font-weight: lighter;
}


p {
  font-size: normal;
}


label {
  font-size: normal;
}

#input {
  border-radius: 5px;
  border: 1px solid;
}

#documento {
  font-size: small;
}

#documento label {
  display: flex;
  align-items: center;
}

#documento input {
  margin-right: 5px;
}

#input[type="text"] {
  width: 100%;
  height: 30px;
  box-sizing: border-box;
  cursor: pointer;
}

#button[type="submit"] {
  width: 100%;
  height: 30px;
  border: 1px solid #fc6612;
  background-color: #fc6612;
  color: whitesmoke;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
  border-radius: 5px;
}

#password {
  display: flex;
  justify-content: center;
  align-items: center;
}

.error {
  border: solid 2px red;
}

.mensajeError {
  color: red;
  font-size: smaller;
}

.normal {
  color: black;
  background-color: white;
  font-size: normal;
  font-weight: normal;
}

.ocultar{
  display: none;
}

.ensinar{
  display: block;
}

input:disabled {
  background-color: #f2f2f2;
  color: #666;
  cursor: not-allowed;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" width="16px" height="16px"><rect width="12" height="12" x="6" y="6" fill="gray" /></svg>');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}
